<!DOCTYPE html>
<html>

<head>
    <title>Spotivote</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
    <div id="popupOverlay" class="overlay-container show">
        <div class="popup-box">
            <h2 style="margin-bottom: 5px;">Hello there!</h2>
            <hr>
            <p style="margin-top: 10px;">
                Please keep in mind that this app is unfinished, and there are some known bugs and glitches.
                To make sure your experience is smooth (and my server doesn't crash):
                <ul style="list-style-type: '- '; padding-left: 15px;">
                    <li>DO NOT spam click any buttons or links!</li>
                    <li>After importing a playlist, try not to add or delete songs outside of the app.</li>
                    <li>ONLY use the buttons within the app to delete songs from playlists you import!</li>
                </ul><br>
                Thank you and enjoy!
            </p>
            <button class="btn-close-popup" onclick="togglePopup()"><h4>I will!</h4></button>
        </div>
    </div>
    
    <div class="section" id="main" style="text-align: center;">
        <p id="login-title">Welcome to Spotivote!</p>
        <a href="/login">
            <img src="static/google_sign_in.png">
        </a>
    </div>
	<script>
		function togglePopup() {
			const overlay = document.getElementById('popupOverlay');
			overlay.classList.toggle('show');
		}
	</script>
</body>

</html>